@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.bg-smart {
  background: url(../assets/images/slider_bg.png) center no-repeat;
  background-size: cover;
  height: 180vh;
}

.bg-smart .unique {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 9rem;
}

.bg-smart .unique .free {
  color: #fff;
  text-align: justify;
  padding: 0 1rem 0 7.5rem;
}

.bg-smart .unique .free span {
  font-size: 2.3rem;
}

.bg-smart .unique .free h1 {
  padding-top: 1rem;
  font-size: 3.4rem;
}

.bg-smart .unique .free p {
  padding: 2rem 0 4rem;
  line-height: 1.8rem;
}

.bg-smart .unique .smart img {
  width: 146%;
  margin-top: 6.2rem;
  -webkit-transform: translateX(1%);
          transform: translateX(1%);
}

.circle {
  margin-bottom: 15rem;
  position: relative;
}

.circle .shape {
  position: absolute;
  right: 7%;
  margin-top: -5%;
}

.bg-free {
  background: url(../assets/images/slider_bg.png) center no-repeat;
  background-size: cover;
  height: 126vh;
}

.bg-free .free {
  color: #fff;
  padding: 13rem 2rem 0;
  text-align: justify;
}

.bg-free .free span {
  font-size: 1.5rem;
}

.bg-free .free h1 {
  margin-top: 0.5rem;
  font-size: 3.4rem;
}

.bg-free .free p {
  margin: 1.8rem 0 3rem;
  line-height: 1.8rem;
}

.digital {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6rem;
}

.digital .service img {
  margin-left: -10.6rem;
}

.digital .private {
  padding: 7rem 7rem 0 0;
  margin-left: -1.7rem;
}

.digital .private h2 {
  font-size: 2.3rem;
  padding-bottom: 1rem;
}

.digital .private p {
  color: #636060;
  line-height: 1.5rem;
}

.digital .private p:last-child {
  margin-top: 2rem;
}

.feature {
  margin-bottom: 12rem;
}

.feature .best {
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2.5rem;
}

.feature .best h5 {
  color: #679ed6;
  font-size: 1.2rem;
}

.feature .best h2 {
  font-size: 2.3rem;
  padding-top: 0.7rem;
}

.feature .systems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 7rem;
}

.feature .systems .item {
  width: 340px;
  text-align: center;
}

.feature .systems .item img {
  margin-bottom: 0.7rem;
}

.feature .systems .item a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}

.feature .systems .item p {
  color: #636060;
  margin: .9rem 0;
}

.contracts .counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6rem;
}

.contracts .counters .counter-img {
  width: 50%;
}

.contracts .counters .counter-img img {
  margin-left: -15.6rem;
  z-index: 2;
}

.contracts .counters .counter-bg {
  width: 60%;
  margin-left: -2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(137, 61, 209, 0.7)), to(rgba(137, 61, 209, 0.7))), url(../assets/images/counter_bg.jpg) center center no-repeat;
  background: linear-gradient(to bottom, rgba(137, 61, 209, 0.7), rgba(137, 61, 209, 0.7)), url(../assets/images/counter_bg.jpg) center center no-repeat;
  background-size: cover;
  height: 65vh;
  z-index: 1;
}

.contracts .counters .counter-bg p {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.contracts .counters .counter-bg h1 {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

.currency {
  margin: 0 8rem;
}

.currency .trans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.currency .trans .transactions {
  width: 450px;
  margin-top: 4rem;
}

.currency .trans .transactions h2 {
  font-size: 2.3rem;
  line-height: 2.7rem;
}

.currency .trans .transactions p {
  margin-top: 1.2rem;
  color: #636060;
  line-height: 1.7rem;
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
  margin-bottom: 6rem;
  background-color: #54c5eb;
  height: 50vh;
}

.site .pro {
  color: #fff;
  width: 620px;
}

.site .pro h2 {
  font-size: 3rem;
  line-height: 2.9rem;
}

.site .pro p {
  margin-top: 1rem;
  line-height: 1.7rem;
}

.reviews {
  margin-bottom: 3rem;
}

.reviews .latest {
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2.5rem;
}

.reviews .latest h5 {
  color: #679ed6;
  font-size: 1.2rem;
}

.reviews .latest h2 {
  font-size: 2.3rem;
  padding-top: 0.7rem;
}

.reviews .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 7rem;
}

.reviews .flex .items {
  width: 370px;
}

.reviews .flex .items img {
  margin-bottom: 0.7rem;
}

.reviews .flex .items a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 2.3rem;
  text-align: center;
}

.reviews .flex .items a:hover {
  background-color: #fff;
  color: #679ed6;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px wheat;
          box-shadow: 1px 1px 3px wheat;
}

footer {
  background: url(../assets/images/footer_bg01.png) center top no-repeat;
  background-size: cover;
  height: 27vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div {
  color: #fff;
  margin: 5.5rem 0 0 0;
  padding-top: 1rem;
  padding-left: 7rem;
  border-top: 1px solid #fff;
  width: 100%;
}

.icon i {
  color: #fff;
  background-color: #893dd1;
  font-size: 2rem;
  border-radius: 50%;
  padding: 0.3rem;
  position: absolute;
  right: 4%;
  bottom: 1.5%;
  z-index: 100;
}

.mob-private h2 {
  font-weight: bolder;
  margin-left: 50px;
  border: 1px solid red;
}

@media screen and (min-width: 1000px) {
  .mobile-view {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 1000px) {
  .desktop-view {
    display: none !important;
    visibility: hidden !important;
  }
}

.bg-smart .unique .free a, .bg-free .free a, .site .button a {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 3px;
  padding: 0.9rem 1.9rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.bg-smart .unique .free a:hover, .bg-smart .unique .free a :hover, .bg-free .free a:hover, .bg-free .free a :hover, .site .button a:hover {
  background-color: #fff;
  color: #4a4abd;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */